body {
    overflow: hidden;
    background-color: #40414f;
}

#premium {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 15px;
    text-align: right;
}

.modal {
    color: black;
}

#forget {
    color: white;
}

#forget:hover {
    color: #ffc107;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
}

/* Generate Report */
.report-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

table {
    width: -webkit-fill-available;
    text-align: center;
}

th {
    background-color: #0da37f;
}